# This is a basic workflow to help you get started with Actions

name: Shellcheck

# Controls when the action will run.
on: 
  # Triggers the workflow on push or pull request events but only for the master and develop branches
  push:
    branches: 
      - master
      - develop
    paths:
    - '**.sh'
  pull_request:
    branches:
      - master
      - develop
    paths:
    - '**.sh'
    
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  shellcheck:
    name: Shellcheck
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      # Runs shellcheck
      - name: Run ShellCheck
        uses: ludeeus/action-shellcheck@master
        with:
          ignore: test
